﻿<div id="tv" class="app" ng-app ng-controller="TvController">
    <div id="tv-screen">
        <div id="tv-player">
            <div class="zenders" id="zender1"></div>
            <div class="zenders" id="zender2"></div>
            <div class="zenders" id="zender3"></div>
            <div class="zenders" id="zender4"></div>
            <div class="zenders" id="zender5"></div>
            <div class="zenders" id="zender5"></div>
            <div class="zenders" id="zender6"></div>
        </div>
        <div id="ruis">
            <img src="/img/static.gif" />
        </div>
    </div>
    <img id="tv-img" src="/img/old-tv.png" />
    <div id="tv-control">
        <img src="/img/draaiknop_tv.png" draggable="false" />
    </div>
    <div id="dial">
        <input type="text" value="0" class="dial" />
    </div>
</div>
<script src="/scripts/jquery-knob.js"></script>
<!--<script src="/app/tv/TvController.js"></script>-->