﻿<div id="news" ng-app ng-controller="NewsController">
    <div id="news_container" class="app">
        <div id="news-list" ng-show="showOverview">
            <ul>
                <li ng-repeat="p in papers" ng-click="detail(p.Titel)">
                    <div class="img_wrapper">
                        <img class="news_img" ng-src="/img/news/small/{{p.Img}}">
                    </div>
                    <div class="titel_wrapper">
                        <span>{{p.Titel}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="newsDetails" ng-show="showDetail">
            <h2>{{newsDetail.Titel}}</h2>
            <div id="newsDetailImgContainer">
                <img id="newsDetail_img" />
            </div>
        </div>
    </div>
    <div id="back_chat" ng-click="backNews()"></div>
</div>
<!--
<script src="/scripts/jquery-elevateZoom-min.js"></script>
    -->
<script src="/scripts/jquery.elevatezoom.js"></script>
<!--<script src="/app/news/Paper.js"></script>
<script src="/app/news/NewsController.js"></script>-->

