html,
body {
	width: 100%;
	height: 100%;
	}

body {
	background-color: #222;
	}

.custom-wrapper-class {
	width: 90%;
	height: 90%;
	margin: 10px auto;
	background-color: #eee;
	transition: background-color 0.3s;
	}

	.custom-wrapper-class.apiz-is-panning {
		background-color: #fff;
		}
