﻿<div id="homescreen" ng-app ng-controller="HomeController">
    <div id="time">Time</div>
    <!--
    <div class="homescreen_icon" id="homescreen_music" ng-click="start('music')" style="margin-left:11px;margin-top:200px;"></div>
    <div class="homescreen_icon" id="homescreen_translate" ng-click="start('translate')" style="margin-left:15px;margin-top:200px;"></div>
    <div class="homescreen_icon" id="homescreen_calculator" ng-click="start('calculator')" style="margin-left:17px;margin-top:200px;"></div>
    <div class="homescreen_icon" id="homescreen_seriesguide" ng-click="start('series')" style="margin-left:16px;margin-top:200px;"></div>
    -->

    <div class="homescreen_icon" id="homescreen_tv" ng-click="start('tv')" style="margin-left:11px;margin-top:275px;"></div>
    <!--
    <div class="homescreen_icon" id="homescreen_news" ng-click="start('news')" style="margin-left:15px;margin-top:275px;"></div>
    <div class="homescreen_icon" id="homescreen_maps" ng-click="start('maps')" style="margin-left:17px;margin-top:275px;"></div>
    -->
    <div class="homescreen_icon" id="homescreen_music" ng-click="start('music')" style="margin-left:147px;margin-top:275px;"></div>

    <div class="homescreen_icon" id="homescreen_news" ng-click="start('news')" style="margin-left:11px;margin-top:8px;"></div>
    <div class="homescreen_icon" id="homescreen_chat" ng-click="start('chat')" style="margin-left:0;margin-top:8px;"></div>
    <div class="homescreen_icon" id="homescreen_maps" ng-click="start('maps')" style="margin-left:48px;margin-top:8px;"></div>
    <div class="homescreen_icon" id="homescreen_notes" ng-click="start('notes')" style="margin-left:0;margin-top:8px;"></div>

    <div class="homescreen_icon" id="homescreen_camera" ng-click="home()" style="margin-left:35px;margin-top:0px;height: 40px;"></div>
    <div class="homescreen_icon" id="homescreen_camera" ng-click="home()" style="margin-left:25px;margin-top:0px;height: 40px;"></div>
    <div id="app" ng-include src="app" style="visibility:hidden"></div>
</div>
<!--<script src="/app/home/HomeController.js"></script>-->