﻿<div id="detail_chat">
    <h2>Chat</h2>
    <div class="detail_tabControl">
        <div class="detail_tab tab_app detail_tab_selected" ng-click="changeTab('app_detail')">App</div>
        <div class="detail_tab tab_instructions" ng-click="changeTab('instructions')">Instructions</div>
        <div class="detail_tab tab_details" ng-click="changeTab('details')">Details</div>
    </div>
    <div class="app_detail detail_tab_content">
        <p>
            Humanity didn't always have these handy little things called phones or smartphones.
            Before that, We used a telegraph to communicate.<br />
            In order to send a message we had to encode that message into Morse.
        </p>
        <p>
            Morse only exists of 2 sounds: long beeps (-) and short beeps (.).
            The order and sequence determines the meaning of the message.
            Each sequence represents a character.
        </p>
    </div>
    <div class="instructions detail_tab_content">
        <p>
            Log in with your username and password.
        </p>
        <p>
            If you don't have an account yet, you can click on 'sign up here' to sign up. We only ask a username and password.
        </p>
        <p>
            Once logged in, you can create a room or chose an existing room to chat in.
        </p>
        <p>
            Their are 2 of ways sending a message:
            <ol>
                <li>Manually typing in morse code</li>
                <li>Inserting text</li>
            </ol>
            You can switch between both, by clicking on the tabs.
        </p>
        <p>
            Morse codeTable:
            <img src="/img/morse_code_table.jpg" />
        </p>
    </div>
    <div class="details detail_tab_content">
        <p>The following links contain extra information about morse and the history of communication</p>
        <ol>
            <li><a href="http://en.wikipedia.org/wiki/Morse_code" target="_blank"> Morse code (Wikipedia)</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Electrical_telegraph" target="_blank">Electric telegraph</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Transatlantic_telegraph_cable#St._John.27s_to_Nova_Scotia" target="_blank">First transatlantic telegraph cable</a></li>
            <li><a href="http://en.wikipedia.org/wiki/History_of_the_telephone" target="_blank">History of the telephone</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Timeline_of_the_telephone" target="_blank">Timeline of the telephone</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Wireless_telegraphy" target="_blank">Wireless telegraphy</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Long-distance_calling" target="_blank">Long-distance calling</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Videophone" target="_blank">Videophone</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Mobile_phone" target="_blank">Mobile phone</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Satellite_phone" target="_blank">Satellite phone</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Voice_over_IP" target="_blank">Voice over IP</a></li>
        </ol>
    </div>
</div>