﻿<div id="detail_home">
    <h2>Home</h2>
    <p>
        Hello there!
        Welcome to our journey trought time.
    </p>
    <p>
        On the left you find a smartphone as we know it today. <br />
        However, this isn't an ordinary smartphone.
        When you open an app, you are immediatly teleported to a past time where the word 'smartphone' didn't even exist yet.
    </p>
    <p>
        Click on one of the apps to teleport!
    </p>
</div>