﻿<div id="detail_maps">
    <h2>Maps</h2>
    <div class="detail_tabControl">
        <div class="detail_tab tab_app_detail detail_tab_selected" ng-click="changeTab('app_detail')">Detail</div>
        <div class="detail_tab tab_instructions" ng-click="changeTab('instructions')">Instructions</div>
        <div class="detail_tab tab_details" ng-click="changeTab('details')">History</div>
    </div>
    <div class="app_detail detail_tab_content">
        <p>
            Remember the time where road maps where on paper?
            The time where you actually needed to have a 'co-pilot' who could help navigate.
            The time whree you had to manually draw you way on the map.
        </p>
        <p>
            Nowadays we have these little handy things called gps's.
            We even have it on our smartphone to help get us everywhere in the world.
        </p>
    </div>
    <div class="instructions detail_tab_content">
        <p>
            Click on the map to select a starting point of the line you want to draw. Then click where you want the line to settle.
        </p>
        <p>
            You can extend the line you created by clicking on a other point of the map after created the previous line
        </p>
        <p>
            If you want to stop drawing, click on the hand icon.
        </p>
        <p>
            You can move the map around in both modes ('hand mode' and 'drawing mode'), but it is advised to always use the hand mode to look around on the map.
        </p>
        <p>
            You can zoom in or out by scrolling.
        </p>
    </div>
    <div class="details detail_tab_content">
        <p>
            Click on one of the links to get more information about road maps.            
        </p>
        <ol>
            <li><a href="http://www.aaa.com/aaa/074/centennial/webpages/maphistory.html" target="_blank">A journey in road maps</a></li>
            <li><a href="http://www.oldmapsonline.org/" target="_blank">Old maps online</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Road_map" target="_blank">Road map</a></li>
        </ol>
        <p>
            I strongly advise you to look at the 'old maps online' site. You can look at thousands of old maps through a standard online map.
        </p>
    </div>
</div>