﻿<div id="detail_music">
    <h2>Music</h2>
    <div class="detail_tabControl">
        <div class="detail_tab tab_app_detail detail_tab_selected" ng-click="changeTab('app_detail')">Detail</div>
        <div class="detail_tab tab_instructions" ng-click="changeTab('instructions')">Instructions</div>
        <div class="detail_tab tab_details" ng-click="changeTab('details')">History</div>
    </div>
    <div class="app_detail detail_tab_content">
        <p>
            Remember the time of the cassette?
            Don't worry if you don't.
            We'll get you up to speed.
        </p>
        <p>
            Today, we are used to the modern technologies like online streaming, mp3 files and the cd.
            The cd might not be that modern anymore but unlike the cassette some of us still use it.
            Before all that though, there were cassettes.
        </p>
        <p>
            With cassettes you couldn't just start playing a song at a certain point of the track.
            You had to first forward or reverse it, play it so you could hear where you are at the track and then forward or reverse some more until you were at the point of the track you wanted.
            If you had multiple songs on a cassette it became even worse. Because if you wanted to go to a track you had to fast forward to the track you wanted without really knowing where that track started.
            If you wanted the play the cassette all over again you had to rewind te cassette to the beginning.
        </p>
    </div>
    <div class="instructions detail_tab_content">
        <p>
            To play, pauze, forward, rewind or stop, click on the correct button of the cassette player.
        </p>
        <p>
            Click on one of the cassettes below the cassette player to change the track. Wait for the cassette to be insterted and click then on play to hear it.
        </p>
        <p>
            In this simulator we chose to only place one song on each cassette.
        </p>
    </div>
    <div class="details detail_tab_content">
        <p>
            Click on the links to learn more about the history of music players.
            <ol>
                <li><a href="http://en.wikipedia.org/wiki/Phonograph" target="_blank">Record player</a></li>
                <li><a href="http://en.wikipedia.org/wiki/Cassette_deck" target="_blank">Cassette deck</a></li>
                <li><a href="http://en.wikipedia.org/wiki/CD_player" target="_blank">CD player</a></li>
                <li><a href="http://en.wikipedia.org/wiki/Audio_file_format" target="_blank">Audio file format</a></li>
                <li><a href="http://en.wikipedia.org/wiki/Streaming_media" target="_blank">Streaming media</a></li>
                <li><a href="http://en.wikipedia.org/wiki/Comparison_of_on-demand_streaming_music_services" target="_blank">On-demand music streaming services</a></li>
            </ol>
        </p>
    </div>
</div>