﻿<div id="detail_news">
    <h2>News</h2>
    <div class="detail_tabControl">
        <div class="detail_tab tab_app_detail detail_tab_selected" ng-click="changeTab('app_detail')">Detail</div>
        <div class="detail_tab tab_instructions" ng-click="changeTab('instructions')">Instructions</div>
        <div class="detail_tab tab_details" ng-click="changeTab('details')">History</div>
    </div>
    <div class="app_detail detail_tab_content">
        <p>
            The newspaper hasn't actually changed that much.
            We can still buy our 'offline' newspaper in the store.
            The only difference is that today some papers are much smaller in size to fit your grasp.
            The pictures are also of a much higher quality as you would expect.
        </p>
        <p>
            However, it is always interesting to look at very old newspapers in order to see what was going on at the time.
            You'll also notice that the manner of writing was different as today.
        </p>
    </div>
    <div class="instructions detail_tab_content">
        <p>
            Select a newspaper you want and hover your mouse over the image.
        </p>
        <p>
            Notice that a magnifying glass appears so you can read the paper more easily.
        </p>
        <p>
            You can zoom in or out on the image by scrolling while the magnifying glass is visible.
        </p>
    </div>
    <div class="details detail_tab_content">
        <p>
            Click on the links to get more information about the history of the newspaper.
        </p>
        <ol>
            <li><a href="http://en.wikipedia.org/wiki/History_of_newspapers_and_magazines#16th_century_to_1800" target="_blank">16th century to 1800</a></li>
            <li><a href="http://en.wikipedia.org/wiki/History_of_newspapers_and_magazines#Modern_newspapers_since_1800" target="_blank">Modern newspapers since 1800</a></li>
            <li><a href="http://en.wikipedia.org/wiki/History_of_journalism" target="_blank">History of journalism</a></li>
        </ol>        
    </div>
</div>