﻿<div id="detail_notes">
    <h2>Notes</h2>
    <div class="detail_tabControl">
        <div class="detail_tab tab_app_detail detail_tab_selected" ng-click="changeTab('app_detail')">App</div>
        <div class="detail_tab tab_instructions" ng-click="changeTab('instructions')">Instructions</div>
        <div class="detail_tab tab_details" ng-click="changeTab('details')">Details</div>
    </div>
    <div class="app_detail detail_tab_content">
        <p>
            We still use it today. Some of us quite often in fact.
            But it worthwhile to stand still and think about a time where this was the only way to write things down.
        </p>
        <p>
            This meant no backspacing or copying or any other digital manoeuvres. It just didn't exist.
        </p>
    </div>
    <div class="instructions detail_tab_content">
        <p>
            Click on the notepaper in order to activate the cursor.
        </p>
        <p>
            Backspacing or any other navigation is disabled. The only way to 'delete' the text, is to cross it out.
        </p>
        <p>
            You can cross it out by holding the mouse button down while moving your mouse.
        </p>
        <p>
            You can navigate through multiple pages by clicking on the next or previous icon on the bottom of the screen.
        </p>
        <p>
            If you want put the note into the garbage can. Click on the respective icon.
        </p>
    </div>
    <div class="details detail_tab_content">
        <p>
            If you are interested in the history of writing and writing materials, click one one of the links.
        </p>
        <ol>
            <li><a href="http://en.wikipedia.org/wiki/History_of_writing" target="_blank">History of writing (Wikipedia)</a></li>
            <li><a href="http://en.wikipedia.org/wiki/History_of_writing" target="_blank">History of writing (Historian)</a></li>
            <li><a href="http://en.wikipedia.org/wiki/History_of_communication" target="_blank">History of communication</a></li>
        </ol>
    </div>
</div>