﻿<div id="detail_tv">
    <h2>Tv</h2>
    <div class="detail_tabControl">
        <div class="detail_tab tab_app_detail detail_tab_selected" ng-click="changeTab('app_detail')">Detail</div>
        <div class="detail_tab tab_instructions" ng-click="changeTab('instructions')">Instructions</div>
        <div class="detail_tab tab_details" ng-click="changeTab('details')">History</div>
    </div>
    <div class="app_detail detail_tab_content">
        <p>
            Aaaah the tv! We all love to watch tv.
        </p>
        <p>
            We still use it today but in a whole different way. <br />
            There was a time where the images where just black and white and instead of using the remote, you had manual turn the knob which altered the antenna position on top of your house. <br />
            Much like the radio, you had to turn the knob to exactly the right position in order to avoid screen noise.
        </p>
    </div>
    <div class="instructions detail_tab_content">
        <p>
            Turn the knob on the right of the tv in order to switch the channel.
        </p>
        <p>
            You can turn it by moving the mouse around while keeping the left mouse button down.
        </p>
    </div>
    <div class="details detail_tab_content">
        <p>
            The evolution of the television consisted of several stages.
            Click on a stage to get more information
        </p>
        <ol>
            <li><a href="http://en.wikipedia.org/wiki/Mechanical_television" target="_blank">Mechanical television</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Analog_television" target="_blank">Analog television</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Color_television" target="_blank">Color television</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Digital_television" target="_blank">Digital television</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Cable_television" target="_blank">Cabel television</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Satellite_television" target="_blank">Satellite television</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Video_on_demand" target="_blank">Video on demand</a></li>
            <li><a href="http://en.wikipedia.org/wiki/History_of_television" target="_blank">Complete history</a></li>
        </ol>
    </div>
</div>