﻿<div id="chat" ng-app="app" ng-controller="ChatController">
    <div id="chatContainer" class="app">
        <div id="login" class="chatDiv">
            <div>
                <label>Username: </label>
                <input type="text" id="txtUsername" placeholder="Username" ng-model="txtUsername" />
            </div>
            <div>
                <label>Password: </label>
                <input type="password" id="txtPassword" placeholder="Password" ng-model="txtPassword" />
            </div>
            <div>
                <button id="btnLogin" ng-click="login()">Log in</button>
            </div>
            <div class="error" ng-bind="errorMessage"></div>
            <span>Not an account yet? <span id="openSignup" ng-click="openSignup()">Sign up here!</span></span>
        </div>
        <div id="signup" class="chatDiv">
            <div>
                <label>Username: </label>
                <input type="text" id="txtSUsername" placeholder="Username" ng-model="txtUsername" />
            </div>
            <div>
                <label>Password: </label>
                <input type="password" id="txtSPassword" placeholder="Password" ng-model="txtSPassword" />
            </div>
            <div>
                <label>Confirm password: </label>
                <input type="password" id="txtSConfirmPassword" placeholder="Confirm password" ng-model="txtSConfirm" />
            </div>
            <div>
                <button id="btnSignup" ng-click="signup()">Sign up</button>
            </div>
            <div class="error" ng-bind="errorMessage"></div>
            <span id ="openLogin" ng-click="openLogin()">Go back to login</span>
        </div>
        <div id="rooms" ng-show="showRooms">
            <div id="list">
                <div ng-repeat="room in roomList">
                    <div ng-click="selectRoom(room)">{{room}}</div>
                </div>
            </div>
            <div id="newRoom">
                <input type="text" placeholder="Room name" ng-model="newRoomName" />
                <input type="button" value="New room" ng-click="selectRoom()">
            </div>
        </div>
        <div id="controls" ng-show="showControls">
            <table>
                <tr><td colspan="2"><div id="messageBoard" class="messageBoard_manual" ng-bind-html="messageBoard"></div></td></tr>
                <tr><td width="50%"><div ng-click="manual()" class="messageTab messageTabSelected" style="width:100%">Manual</div></td><td width="50%"><div class="messageTab" style="width:100%" id="enableText" ng-click="noManual()">Text</div></td></tr>
                <tr>
                    <td colspan="2">
                        <div id="messageManual" class="tabContentContainer">
                            <span>Text</span>
                            <div id="messageManualText" class="controlMessage no-input" ng-bind="messageText">

                            </div>
                            <span>Morse</span>
                            <div id="messageManualMorse" class="controlMessage no-input" ng-bind="messageMorse">

                            </div>
                            <div id="messageManualControls" class="messageControls">
                                <table>
                                    <tr>
                                        <td><input type="button" id="manualLong" value="Long ( - )" ng-click="long()" /></td>
                                        <td><input type="button" id="manualShort" value="Short ( . )" ng-click="short()" /></td>
                                        <td><input type="button" id="manualSpace" value="Space ( / )" ng-click="space()" /></td>
                                        <td><input type="button" id="manualNext" value="Next" ng-click="next()" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td><input type="button" id="manualUndoLast" value="Undo last" ng-click="undoLast()" /></td>
                                        <td><input type="button" id="manualUndoAll" value="Clear" ng-click="undoAll()" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="messageManualSubmit" class="messageSubmit">
                                <input id="manualSubmit" class="submit" type="button" value="Submit" ng-click="submit()" />
                            </div>
                        </div>
                        <div id="messageText" class="tabContentContainer">
                            <span>Morse</span>
                            <div id="messageTextMorse" class="controlMessage no-input" ng-bind="messageMorse">

                            </div>
                            <span>Text</span>
                            <div id="messageTextText">
                                <textarea id="messageTextInput" ng-change="TextChange()" ng-model="messageText"></textarea>
                            </div>
                            <div id="messageTextSubmit" class="messageSubmit">
                                <input id="textSubmit" class="submit" type="button" value="Submit" ng-click="submit()" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <audio id="shortBeep">
            <source src="/files/sounds/short_beep.mp3" />
        </audio>
        <audio id="longBeep">
            <source src="/files/sounds/long_beep.mp3" />
        </audio>
    </div>
    <div id="back_chat" ng-click="backChat()">

    </div>
</div>
<!--<script src="/app/chat/Morseteken.js"></script>
<script src="/app/chat/ChatController.js"></script>-->


<!--<tr>
    <td colspan="2">
        <input id="messageVal" style="width:100%" type="text" placeholder="Insert message here" disabled />
        <span id="messageManualVal"></span>
    </td>
</tr>
<tr>
    <td colspan="2">
        <input id="messageButton" style="width:100%" type="button" value="Submit" ng-click="submit()" disabled />
        <table id="messageManualButtons">
            <tr>
                <td><button>Long</button></td>
                <td><button>Short</button></td>
                <td><button>Submit</button></td>
            </tr>
        </table>
    </td>
</tr>-->
