﻿body{
    overflow-x:hidden;
}
#context_info{
    position: absolute;
    left: -800px;
    top: 25px;
    width: 100%;
    padding: 0;
    z-index: 1000;
    height: 650px;
}

.detail_tab_content{
    height: 525px;
}

#container{
    width: 100%;
}

#smartphone{
    display:block;
    float:none;
    margin-left: auto;
    margin-right: auto;
}

#context_info_icon{
    position: absolute;
    display:block;
    width: 90px;
    height: 90px;
    background-image: url("/img/info.svg");
    background-size: 50px auto;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 490px)  {
    header h1{
        font-size: 1.5em;
    }
    #context_info_icon{
        width: 80px;
        height: 80px;
        background-size: 45px auto;
    }
}
@media screen and (max-width: 405px)  {
    header h1{
        font-size: 1em;
    }
    #context_info_icon{
        width: 70px;
        height: 70px;
        background-size: 40px auto;
    }
}
