﻿*{
    margin:0;
    padding:0;
}
body {
    font-family: "robotoregular";
    background-image: url("/img/main-bg2.jpg");
    background-repeat: no-repeat;
    background-position: center -200px;
}

#container{
    width: 860px;
    margin: auto;
}

header{
    background-color: rgba(56, 53, 53, 0.91);
    display:block;
    overflow:auto;
    color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: black 1px 2px 5px;
}

h1{
    margin: 25px 0 20px 0;
    text-align:center;
    font-weight: 500;
    font-size: 2em;
}
h2{
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 10px;
}

#context_info_icon{
    display:none;
}

#context_info{
    background-color: rgba(228, 218, 162, 1);
    width: 500px;
    height: 557px;
    float: right;
    margin-top: 75px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: black 1px 3px 7px;
}
#context_info>div{
    margin:10px;
}

#context_info p{
    margin-bottom: 10px;
}

.detail_tabControl{
    width: 100%;
    float:left;
    margin-top: 10px;
}

.detail_tab{
    margin-top:-10px;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #e8e3ca;
    float:left;
    border-radius: 4px 4px 0 0;
    cursor:pointer;
}

.detail_tab_selected{
    background-color: white;
}

.detail_tab_content{
    background-color: white;
    padding: 10px;
    height: 428px;
    display:none;
    overflow-y:auto;
    overflow-wrap:break-word;
}

.detail_tab_content ol{
    list-style-type:decimal;
    list-style-position:inside;
    margin-bottom: 10px;
}

.detail_tab_content img{
    max-width: 100%;
}

.app_detail{
    display:block;
}

#controls>table tr{
    border-spacing: 0;
}

#smartphone{
    width: 311px;
    height: auto;
    padding: 10px;
    margin-top: 50px;
    float: left;
}

#smartphone img{
    width: 100%;
}
#smartphone_content{
    width: 269px;
    height: 478px;
   /*background-color: #b6ff00;*/
    margin-left: 17px;
    margin-top: -556px;
    overflow: hidden;
}

#homescreen{
    background-image: url("/img/homescreen.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    height: 100%;
    float:left;
    position: relative;
}

.homescreen_icon{
    width: 50px;
    height: 70px;
    background-color: ActiveCaption;
    opacity: 0;
    float:left;
    cursor:pointer;
    z-index: 1;
}

#time{
    color: white;
    float:left;
    margin-left: 236px;
    margin-top: 1px;
    font-size: 11px;
}

#maps{
    margin-top: 0;
    width: 269px;
    height: 425px;
    overflow:hidden;
    float:left;
}

#maps>img{
    width: 40px;
    margin: 180px 115px;
}

#app{
    margin-top: 18px;
    width: 269px;
    height: 425px;
    float:left;
    position:absolute;
    background-color: white;
    z-index: 2;
}

.app{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#news ul{
    float:left;
    list-style-type: none;
    margin-left: 28px;
    margin-top: 7px;
    height: auto;
    width: auto;
    padding: 0;
}

#news ul li>.img_wrapper{
    width: 100%;
    height: 50px;
    float:left;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 7px;
}

#news ul li>.titel_wrapper{
    display:table;
    width: 100%;
    height: 33px;
    overflow:hidden;
    background-color: gray;
    border-radius: 5px; 
    padding: 1px 3px;
    text-align: center;
    font-size: 12px; 
    margin-left: -3px;
    background-image:url("/img/wooden_plate.png");
    background-size: 100% 100%;
    color: #2e1505;
}

#news ul li>div>span{
    display:table-cell;
    vertical-align:middle;   
    width: 100%;  
}

#news ul li{
    float:left;
    width: 100px;
    margin: 7px 13px 6px 0;
    cursor: pointer;
}
#news ul li:nth-child(5), #news ul li:nth-child(6){
   margin-bottom: 3px;
}

#news{
    margin-top: 0;
    height: 425px;
    width: 100%;
    background-color: #383535;
    background-image: url("/img/bookshelf.png"), url("/img/pattern-wood.jpg") ;
    background-size: 100% auto, auto auto;
    background-position: 0 -10px, top left;
    background-repeat: no-repeat, repeat-y;
    color: white;
}

#newsDetails{
    margin-top: 0px;
    height: 425px;
    color: black;
    background-color: white;
    width: 100%;
    text-align: center;
    float:left;
    background-image: url("/img/pattern-wood.jpg");
}

#newsDetails_container{
    height: 425px;
    width: 100%;
}

#newsDetails>h2{    
    display:block;
    margin:0;
    padding:0;
    width: 100%;
    height: 35px;
    float:left;
    background-color:#383535;
    color:white;
    box-shadow: #454545 5px 0px 15px;
    z-index: 2;
    font-size: x-large;
}

.zoomContainer{
    z-index: 9;
    height: 390px!important;
}

#newsDetail_img{
    z-index: 1000;
}

#newsDetails>img{
    /*width: 100%;*/
    z-index: 1;
}

#music{
    background-image: url("/img/pattern-wood.jpg");
    background-size: auto 100%;
    height: 100%;
}

#tape{
    z-index: 1;
    width: 201px;
    height: 100px;
    background-image: url("/img/cassette-image.png");
    background-size: 100% auto;
    margin-left: 34px;
    margin-top: 15px;
    float:left;
}

#tape>div:first-of-type{
    margin-top:-73px;
    line-height:18px;
}
#tape>div{
    font-size: 13px;
    color:#a41515;
    margin-left: 30px;
    line-height: 18px;
}

#tape_player{
    z-index: 2;
    width: 100%;
    height: 230px;
    background-image: url("/img/cassette_player_hres.png");
    background-size: 100% auto;
    float:left;
    margin-top: -115px;
}

.rotater{
    width: 27px!important;
    height: auto;
}

#rotater_left{
    margin-left: 45px;
    margin-top: 45px;
}

#rotater_right{
    margin-left: 52px;
}

.player_button{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 35px;
    width: 45px;
    float:left;    
    margin-top: 183px;
    cursor:pointer;
}

#player_pause{
    margin-left: 22px;
}

#list_music>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cassette{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    display:block;   
    width: 120px;
}

.cassette_img{    
    width: 120px!important;
    height: auto;
    cursor:pointer;
    float:left;
}

.cassette_text{
    margin-top: -72px;
    margin-left: 20px;
    float:left;
    width: 100px;
    color: #a41515;
    font-size:8px;
}
.cassette_text>span{
    width: 100%;
    float:left;
    line-height:9px;
}

#messageBoard{
    overflow-y: scroll;
    overflow-x: hidden;
    text-wrap: normal;
    width: 100%;
    float:left;
    background-color: white;
}

.messageBoard_manual{
    height: 160px;
}
.messageBoard_text{
    height:226px;
}

.message{
    border-bottom: 1px solid #808080;
    float:left;
    margin-top: 10px;
    width: 100%;
}

.tabContentContainer{
    width: 100%;
    display: block;
    float:left;
    background-color: #e8e3ca;
}

#chat table, #chat table tr, #chat table tr td{
    margin: 0;
    padding: 0;
}

.tabContentContainer div{
    width: 100%;
}

.tabContentContainer table{
    width: 266px;
}

.tabContentContainer input{
    width: 100%;
}

.tabContentContainer>span{
    margin-left: 10px;
}

#controls table{
    width: 268px;
    border-spacing: 0!important;
}

#chat{
    height: 100%;
    width: 100%;
    float: left;
}

.chatDiv{
    height: 100%;
    width: 100%;
    float: left;
}

#rooms{
    height: 100%;
    width: 100%;
    overflow: auto;
}
#rooms>#list{
    height: 380px;
    border-bottom: 2px solid #000000;
}
#rooms>#newRoom{
    margin: 5px;
}
#rooms>#newRoom>input{
    height: 25px;
}
#rooms>#newRoom>input[type=button]{
    height: 28px;
    padding: 0 5px!important;
    float: right;
    padding: 0;
    margin: 0;
}
#rooms>div>div{
    border-bottom: 1px solid #000000;
    padding: 5px;
    cursor: pointer;
}

#login, #signup {
    width: 170px;
    margin: 0 auto;
    margin-left: 25px;
    margin-top: 95px;
    padding: 25px;
    height: auto;
    background-color: #e4daa2;
}

#signup{
    margin-top: 85px;
}

#login{
    display:block;
}

.error {
    color: #db1a1a;
    font-size: small;
}

#chat{
    background-color: #eeebde;
}

.chatDiv input[type=text], .chatDiv input[type=password]{
    border-radius: 5px;
    height: 20px;
}

.chatDiv input[type=button], .chatDiv button, #controls button, #controls input[type=button]{
    padding: 2px 5px;
    float: right;
    margin-top: 10px;
}

.chatDiv>div{
    float:left;
    margin: auto 0;
    width: 100%;
}

.chatDiv>div>label{
    display: block;
    float: left;
    margin-top: 10px;
}

.chatDiv>span{
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}

#back_chat{
    /*background-color: red;*/
    height: 50px;
    width: 50px;
    z-index: 9999;
    float: left;
    margin-left: 35px;
    opacity: 0;
    cursor: pointer;
}

#openSignup{
    color: blue;
    cursor: pointer;
}

.messageSubmit{
    margin-bottom: 5px;
}

.controlMessage, .tabContentContainer input[type=text], .tabContentContainer textarea{
    height: 45px;
    border: 1px solid #cec490;
    width: 240px!important;
    margin: 0 auto;
    border-radius: 3px;
    background-color: white;
    display:block;
}

.no-input{
    background-color:#ededed;
}

.messageTab{
    width: 100%;
    text-align: center;
    border-radius: 3px 3px 0 0;
    border: 1px solid black;
    cursor:pointer
}

.messageTabSelected{
    background-color: #e4daa2;
}

#messageText{
    display:none;
}

.message span:first-child{
    margin:0;
}

.message span:nth-child(2){
    color:black
}

.message p{
    color: #d91d1d;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 5px;
    font-size: 12px;
    width: 100%;
}

.messageOther{    
    color: blue;
}

.messageSelf{
    color:#249224;
}

#tv{
    background-image: url("/img/wallpaper.jpg"), url("/img/pattern-wood.jpg"), url(/img/plint.png);
    background-size: 100% 250px, 100% 50px, 100% 65px;
    background-position: top left, bottom left, bottom left;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-color: #e4daa2;
    height: 100%; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tv-img{
    position: relative;
    margin-top: -155px;
    float:left;
    pointer-events: none;
}

#tv-control{
    position:relative;
    float:right;
    margin-top: -288px;    
    margin-right: 26px;
    width:24px!important;
    height: auto;
}

#dial{
    position: relative;
    float:right;
    margin-top: -288px;
    margin-right: 26px;
    opacity:0;
    cursor:pointer;
}
#dial input{
    cursor:pointer;
}

#tv-screen{
    width: 165px;
    height: 135px;
    position: relative;
    float:left;
    margin-top: 125px;
    margin-left: 31px;
}
#ruis, #ruis>img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
}


#tv-player{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
#tv-player>div, #tv-player>iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
}
iframe#zender1{
    opacity: 1;
}

#notes{
    background-image: url("/img/note-paper.png"), url("/img/pattern-wood.jpg");
    background-size: 225px auto, auto 100%;
    background-position: top 50px left 23px, top 0 left 0;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    float:left;
}

#note{ 
    font-family: mf_really_awesomeregular;
    font-size: 18.5px;
    width: 100%;
    background-color:rgba(255,255,255,0);
    border: none;
    resize: none;
    line-height: 23px;
}

#noteContainer{
    margin-top: 61px;
    margin-left: 61px;
    width: 184px;
    height: 275px;
    float: left;
}

#noteCanvas{    
    width: 185px;
    height: 255px;
    margin-top: -255px;
    margin-left: 61px;
    float: left;
    cursor: crosshair;
}

#notes_page_number{
    width: 100%;
    text-align: right;
    color:black;
    font-size: 14px;
    margin-bottom: 4px;
}

#pageControl{
    float:left;
    width: 100%;
    margin-top: 48px;
}
#pageControl td{
    height: 30px;
    text-align:center;
    cursor: pointer;
}

#pageControl img{
    height: 30px;
    width: auto;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mf_really_awesomeregular';
    src: url('fonts/mf_really_awesome-webfont.eot');
    src: url('fonts/mf_really_awesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mf_really_awesome-webfont.woff2') format('woff2'),
         url('fonts/mf_really_awesome-webfont.woff') format('woff'),
         url('fonts/mf_really_awesome-webfont.ttf') format('truetype'),
         url('fonts/mf_really_awesome-webfont.svg#mf_really_awesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}