﻿<div id="notes" class="app" ng-ap ng-controller="NoteController">
    <div id="noteContainer">
        <div id="notes_page_number">Page {{pageIndex + 1}}</div>
        <textarea id="note" ng-model="selectedPage.Text" contenteditable="true"></textarea>
    </div>
    <div id="noteCanvasContainer">
        <canvas id="noteCanvas" width="185" height="255"></canvas>
    </div>
    <table id="pageControl">
        <tr>
            <td id="Page_back">
                <img src="/img/left207.svg" />
            </td>
            <td id="Page_del">
                <img src="/img/rubbish7.svg" />
            </td>
            <td id="Page_forward">
                <img src="/img/right218.svg" />
            </td>
        </tr>
    </table>
</div>
<script src="/scripts/jquery-autosize-min.js"></script>
<!--<script src="/app/notes/page.js"></script>
<script src="/app/notes/NoteController.js"></script>-->