﻿<div id="maps" class="app" ng-app ng-controller="MapController">
    <img src="/img/loading.gif" />
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing&callback=initialize"></script>
<!--<script src="/app/maps/Map.js"></script>
<script src="/app/maps/MapController.js"></script>-->
