﻿<!DOCTYPE html>
<html manifest="/manifest/app.manifest">
<head>
    <title>Before the smartphone</title>
	<link rel="shortcut icon" href="/img/favicon.png">
    <link href="/style/style.css" type="text/css" rel="stylesheet" />
	<link href="/style/mobile.css" type="text/css" rel="stylesheet" media="screen and (max-width: 800px)" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>
<body ng-app ng-controller="MainController">
    <div id="container">
        <header>
					<div id="context_info_icon" ng-click="mobileInfo()"></div>
            <h1>Before the smartphone</h1>
        </header>
        <div id="content">
            <section id="smartphone">
                <img src="/img/nexus_5_exterior.png" />
                <div id="smartphone_content" ng-include src="home"></div>
            </section>
            <section id="context_info" ng-include src="detail"></section>
        </div>
    </div>

	<script src="/socket.io/socket.io.js"></script>
	<!--<script src="http://cdn.socket.io/socket.io-1.2.1.js"></script>-->
    <script src="/scripts/jquery-2.1.3.min.js"></script>	
	<script src="/scripts/angular.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
	<script src="/scripts/app.js"></script>
	<!--<script src="/app/app.js"></script>
    <script src="/app/main/MainController.js"></script>-->
</body>
</html>

