﻿<div id="music" class="app" ng-app ng-controller="MusicController">
    <div id="tape">
        <img class="rotater" id="rotater_left" src="/img/rotate_static.png" />
        <img class="rotater" id="rotater_right" src="/img/rotate_static.png" />
        <div>{{selectedMusic.Name}}</div>
        <div>{{selectedMusic.Artist}}</div>
    </div>
    <div id="tape_player">
        <div class="player_button" id="player_pause" ng-click="pauze()"></div>
        <div class="player_button" id="player_reverse" ng-click="reverse()"></div>
        <div class="player_button" id="player_forward" ng-click="forward()"></div>
        <div class="player_button" id="player_play" ng-click="play()"></div>
        <div class="player_button" id="player_stop" ng-click="stop()"></div>
    </div>
    <div id="list_music">
        <ul>
            <li class="cassette" ng-repeat="m in Music" ng-click="changeSong(m)">
                <img class="cassette_img" src="{{m.Img}}" title="{{m.Name}} - {{m.Artist}}" />
                <div class="cassette_text">
                    <span>{{m.Name}}</span>
                    <span>{{m.Artist}}</span>
                </div>
            </li>
        </ul>
    </div>
    <audio id="player" style="visibility:hidden" preload="auto">
        <source type="audio/mp3" src="{{selectedMusic.Resource}}"></source>
    </audio>
</div>
<!--<script src="/app/music/Music.js"></script>
<script src="/app/music/MusicController.js"></script>-->